/*************** document level *******************/
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: 14px;
}
.body-section{
    min-height: 100vh;
}
/* .page-body.body-section-wrapper{
    background-color: #f3f3f4;
} */
/*************** Header *******************/
nav{
    background-color: rgba(28,65,94,255);
}
.navbar-logo{
    width: 100px;
}
.navbar-profile-logo{
    width: 50px;
}
.nav-menu-item{
    cursor: pointer;
    font-size: 18px;
}
.nav-menu-left .nav-menu-item:hover,
.nav-menu-left .nav-menu-item.menu-active{
    background-color: rgb(196, 98, 45);
    color: white !important;
}
.nav-menu-left .nav-menu-item{
    border-right: 0.5px solid white;
}
.profile-menu{
    background-color: white;
    border-left: 1px solid rgba(28,65,94,255);
    border-right: 1px solid rgba(28,65,94,255);
    border-bottom: 1px solid rgba(28,65,94,255);
    top: 100%;
    width: 100%;
    right: 0;
}
.profile-menu-item{
    display: block;
    color: rgba(28,65,94,255);
}
.profile-menu-item:not(:first-child){
    border-top: 1px solid rgba(28,65,94,255);
}
.profile-menu-item:hover,
.profile-menu-item.menu-active{
    background-color: rgb(196, 98, 45);
    color: white;
}

/******************** Assets **********************************/
.asset-page.page-body{
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.asset-btn{
    background-color: rgb(196, 98, 45);
    border: 1px solid rgb(196, 98, 45);
    color: white;
    padding: 1rem 2rem;
    width: 47%;
    cursor: pointer;
    text-align: center;
}

.asset-btn:hover{
    background-color: white;
    color: rgb(196, 98, 45);
}

.asset-coming-soon-btn{
    color: rgba(200, 197, 187, 1);
    border: 1.5px solid rgba(200, 197, 187, 1);
    cursor: no-drop;
    padding: 1rem 2rem;
    width: 47%;
    cursor: no-drop;
    text-align: center;
}

.asset-coming-soon-btn:hover{
    background-color: rgba(200, 197, 187, 1);;
    color: white;
}

@media screen and (max-width: 575px) {

    .asset-btn,
    .asset-coming-soon-btn{
        width: 100%;
    }
}
/**************************************************************/